<div class="container box-skills">
    <hr>
    <h3 class="pb-3">SABERES EN DISTINTAS TECNOLOGÍAS</h3>
    <div class="supreme">
        <div class="container-cards">
          <div class="card">
            <div class="box">
              <div class="percent">
                <svg class="svg-circle">
                  <circle cx="70" cy="70" r="70"></circle>
                  <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                  <h2>90<span>%</span></h2>
                </div>
              </div>
              <h2 class="text">Html</h2>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <div class="percent">
                <svg class="svg-circle">
                  <circle cx="70" cy="70" r="70"></circle>
                  <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                  <h2>80<span>%</span></h2>
                </div>
              </div>
              <h2 class="text">Css</h2>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <div class="percent">
                <svg class="svg-circle">
                  <circle cx="70" cy="70" r="70"></circle>
                  <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                  <h2>35<span>%</span></h2>
                </div>
              </div>
              <h2 class="text">Javascript</h2>
            </div>
          </div>
        </div>
    </div>
    <div class="container-cards container-cards-two">
        <div class="card card-two">
          <div class="box">
            <div class="percent">
              <svg class="svg-circle">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>35<span>%</span></h2>
              </div>
            </div>
            <h2 class="text">PYTHON</h2>
          </div>
        </div>
        <div class="card card-two">
          <div class="box">
            <div class="percent">
              <svg class="svg-circle">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>20<span>%</span></h2>
              </div>
            </div>
            <h2 class="text">JAVA</h2>
          </div>
        </div>
        <div class="card card-two">
          <div class="box">
            <div class="percent">
              <svg class="svg-circle">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>15<span>%</span></h2>
              </div>
            </div>
            <h2 class="text">JQUERY</h2>
          </div>
        </div>
    </div>        
</div>