<div class="container-projects container">
    <hr>
    <h3 class="pb-2">PROYECTOS</h3>
  
  
    <div class="project-1">
      <h4>RÉPLICA DE SITIOS WEB</h4>
      <p class="parrafos pb-2">
        En mis tiempos libres me gusta elegir páginas de aplicaciones web e 
        intentar hacerlas por mí mismo, incluyendo todo lo que es su contenido y
        las funcionalidades que estas páginas ofrecen. Esto me ha servido un montón
        y me ha ayudado a poner en práctica mis conocimientos así como también aprender 
        funcionalidades nuevas para aplicar a la hora de estar haciendo un sitio web.
        Dejo acá un par de ejemplos:   
      </p>

      <div class="project-box">
        <div class="div-img">
          <a href="https://brianrivero01.github.io/bbcpage.github.io/">
            <div class="div-icon-hidden effect-icon-hidden">
              <i class="fa-solid fa-arrow-up-right-from-square icon-hidden"></i>
            </div>
          </a>
          <img class="img-project" src="./assets/proyecto-bbc.PNG">
        </div>
      </div>

      <div class="project-box">
        <div class="div-img">
          <a href="https://brianrivero01.github.io/cinecalidadpy.github.io/">
            <div class="div-icon-hidden div-icon-hidden-2 effect-icon-hidden">
              <i class="fa-solid fa-arrow-up-right-from-square icon-hidden"></i>
            </div>
          </a>
          <img class="img-project" src="./assets/proyecto-cine-calidad.PNG">
        </div>
      </div>

      <div class="project-box">
        <div class="div-img">
          <a href="https://brianrivero01.github.io/tor.github.io/">
            <div class="div-icon-hidden-3 effect-icon-hidden">
              <i class="fa-solid fa-arrow-up-right-from-square icon-hidden"></i>
            </div>
          </a>
          <img class="img-project" src="./assets/proyecto-tor.PNG">
        </div>
      </div>

      <div class="project-box">
        <div class="div-img">
          <a href="https://brianrivero01.github.io/instragrampage.github.io/">
            <div class="div-icon-hidden-4 effect-icon-hidden">
              <i class="fa-solid fa-arrow-up-right-from-square icon-hidden"></i>
            </div>
          </a>
          <img class="img-project" src="./assets/proyecto-instagram.PNG">
        </div>
      </div>

      
    </div>
  
    <div class="project-2">
      <h4>PORTFOLIO WEB</h4>
      <p class="parrafos pb-2">
        Proyecto final de la segunda etapa del curso de Argentina Programa. 
        Portfolio personal donde expongo toda información profesional realizada, ya sean 
        cursos, experiencias profesionales, formación académica, así como también, gráficos acerca de 
        distintos conocimientos en programación.
        Contiene botones de edición que se muestran al iniciar sesión y que
        me sirven para editar información o imágenes que se hayan incluido dentro del portfolio. 
        Este inicio de sesión se valida a través de un usuario y contraseña cuyos datos,
        con anterioridad, se guardaron en una base de datos. En este proyecto se utilizaron tecnologías
        como Angular, Spring Boot y MySQL.
      </p>
      <img class="img-project" src="./assets/1-portfolio.PNG">
      <img class="img-project" src="./assets/2-portfolio.PNG">
    </div>
  
</div>