<header>
        
    <nav class="navbar navbar-expand-md bd-navbar navbar-dark">
        <div class="container">
            <div id="nav-side-left">
                <img src="./assets/logo-argentina-programa.PNG" width="50px">
                <span>Argentina Programa - #YoProgramo</span>
            </div>
  
            <div id="nav-side-right" class="ms-auto">
                <a class="link-social-media" href="https://www.facebook.com/brian.rivero.942" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a class="link-social-media" href="https://www.instagram.com/_brianrivero/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a class="link-social-media" href="https://twitter.com/_BrianRivero_?s=09" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a class="link-social-media" href="https://www.linkedin.com/in/tom%C3%A1s-brian-rivero-b67605211/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <button class="btn logeo" (click)="goToUrl()">LOGIN</button>
            </div>
        </div>
    </nav>
    <div class="container container-banner">
        <img id="img-banner" src="./assets/banner.jpg">
        <div>
            <img id="img-profile" src="./assets/img-profile.jpg">
        </div>
    </div>
    
  </header>
  